@charset "CP850";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*!
 *
.||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.

	.                                      '||            .
  .||.  .... ... ... ...    ....  ... ...   ||   ....   .||.    ....
   ||    '|.  |   ||'  || .|...||  ||'  ||  ||  '' .||   ||   .|...||
   ||     '|.|    ||    | ||       ||    |  ||  .|' ||   ||   ||
   '|.'    '|     ||...'   '|...'  ||...'  .||. '|..'|'  '|.'  '|...'
		.. |      ||               ||
		 ''      ''''             ''''      A Typographic Starter Kit

  URL ........... http://typeplate.com
  VERSION ....... 1.1.1
  Github ........ https://github.com/typeplate/typeplate.github.io
  AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
  LICENSE ....... Creative Commmons Attribution 3.0
  LICENSE URL ... http://creativecommons.org/licenses/by/3.0

 .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.
 *
 */
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026;
}

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}

/* line 386, ../sass/_typeplate.scss */
body {
  word-wrap: break-word;
}

/* line 390, ../sass/_typeplate.scss */
pre code {
  word-wrap: normal;
}

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
/* line 515, ../sass/_typeplate.scss */
html {
  font: normal 112.5%/1.65 serif;
}

/* line 523, ../sass/_typeplate.scss */
body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #444444;
}

/* line 534, ../sass/_typeplate.scss */
small {
  font-size: 65%;
}

/* line 557, ../sass/_typeplate.scss */
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
}

/* line 572, ../sass/_typeplate.scss */
.tera {
  font-size: 117px;
  font-size: 6.5rem;
  margin-bottom: 0.25385rem;
}

/* line 572, ../sass/_typeplate.scss */
.giga {
  font-size: 90px;
  font-size: 5rem;
  margin-bottom: 0.33rem;
}

/* line 572, ../sass/_typeplate.scss */
.mega {
  font-size: 72px;
  font-size: 4rem;
  margin-bottom: 0.4125rem;
}

/* line 572, ../sass/_typeplate.scss */
.alpha, h1 {
  font-size: 60px;
  font-size: 3.33333rem;
  margin-bottom: 0.495rem;
}

/* line 572, ../sass/_typeplate.scss */
.beta, h2 {
  font-size: 48px;
  font-size: 2.66667rem;
  margin-bottom: 0.61875rem;
}

/* line 572, ../sass/_typeplate.scss */
.gamma, h3 {
  font-size: 36px;
  font-size: 2rem;
  margin-bottom: 0.825rem;
}

/* line 572, ../sass/_typeplate.scss */
.delta, h4 {
  font-size: 24px;
  font-size: 1.33333rem;
  margin-bottom: 1.2375rem;
}

/* line 572, ../sass/_typeplate.scss */
.epsilon, h5 {
  font-size: 21px;
  font-size: 1.16667rem;
  margin-bottom: 1.41429rem;
}

/* line 572, ../sass/_typeplate.scss */
.zeta, h6 {
  font-size: 18px;
  font-size: 1rem;
  margin-bottom: 1.65rem;
}

/* line 612, ../sass/_typeplate.scss */
p {
  margin: auto auto 1.5em;
}
/* line 614, ../sass/_typeplate.scss */
p + p {
  text-indent: 1.5em;
  margin-top: -1.5em;
}

/* line 638, ../sass/_typeplate.scss */
abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}

/* line 646, ../sass/_typeplate.scss */
pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

/* line 651, ../sass/_typeplate.scss */
pre {
  white-space: pre;
}

/* line 655, ../sass/_typeplate.scss */
code {
  white-space: pre;
  font-family: monospace;
}

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
/* line 671, ../sass/_typeplate.scss */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray;
}
/* line 673, ../sass/_typeplate.scss */
abbr[title]:hover {
  cursor: help;
}

/* line 687, ../sass/_typeplate.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}

/* line 697, ../sass/_typeplate.scss */
p + .drop-cap {
  text-indent: 0;
  margin-top: 0;
}

/* line 417, ../sass/_typeplate.scss */
.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit;
}

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
/* line 456, ../sass/_typeplate.scss */
.lining dt,
.lining dd {
  display: inline;
  margin: 0;
}
/* line 463, ../sass/_typeplate.scss */
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre;
}
/* line 471, ../sass/_typeplate.scss */
.lining dd + dd:before {
  content: ", ";
}
/* line 475, ../sass/_typeplate.scss */
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem;
}

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
/* line 483, ../sass/_typeplate.scss */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions;
}
/* line 487, ../sass/_typeplate.scss */
.dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2rem;
}
/* line 493, ../sass/_typeplate.scss */
.dictionary-style dd {
  display: block;
  counter-increment: definitions;
}
/* line 496, ../sass/_typeplate.scss */
.dictionary-style dd:before {
  content: counter(definitions,decimal) ". ";
}

/**
 * Blockquote Markup
 *
		<figure>
			<blockquote cite="">
				<p></p>
			</blockquote>
			<figcaption>
				<cite>
					<small><a href=""></a></small>
				</cite>
			</figcaption>
		</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
/* line 781, ../sass/_typeplate.scss */
.pull-quote {
  position: relative;
  padding: 1em;
}
/* line 358, ../sass/_typeplate.scss */
.pull-quote:before, .pull-quote:after {
  height: 1em;
  opacity: 0.5;
  position: absolute;
  font-size: 4em;
  color: #dc976e;
}
/* line 365, ../sass/_typeplate.scss */
.pull-quote:before {
  content: '“';
  top: 0;
  left: 0;
}
/* line 370, ../sass/_typeplate.scss */
.pull-quote:after {
  content: '”';
  bottom: 0;
  right: 0;
}

/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
/* line 9, ../sass/screen.scss */
.btcf:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/screen.scss */
body {
  background: #fcfbfb;
}

/* line 43, ../sass/screen.scss */
.product {
  background: #f5f2f2;
  border: 1px solid #eee9e9;
  overflow: hidden;
  padding: 10px 20px;
}
/* line 48, ../sass/screen.scss */
.product:nth-child(odd) {
  background: #f3efef;
}
/* line 51, ../sass/screen.scss */
.product li {
  display: inline;
}
/* line 54, ../sass/screen.scss */
.product li p.title {
  font-size: 24px;
  width: 10em;
  display: inline-block;
}
/* line 59, ../sass/screen.scss */
.product li p {
  padding: 0;
  margin: 0 20px 0 0;
  display: inline;
}

/* line 66, ../sass/screen.scss */
#new-product {
  overflow: hidden;
  display: none;
}
/* line 69, ../sass/screen.scss */
#new-product.show-form {
  display: block;
}
/* line 71, ../sass/screen.scss */
#new-product.show-form .save, #new-product.show-form .cancel {
  display: inline;
}

/* line 77, ../sass/screen.scss */
#product-container {
  overflow: hidden;
}
/* line 79, ../sass/screen.scss */
#product-container .editing {
  border-color: #d2e7f3;
}
/* line 81, ../sass/screen.scss */
#product-container .editing p, #product-container .editing .edit, #product-container .editing .delete {
  display: none;
}
/* line 84, ../sass/screen.scss */
#product-container .editing input, #product-container .editing .cancel, #product-container .editing .save {
  display: inline;
}
/* line 88, ../sass/screen.scss */
#product-container input {
  display: none;
  margin-bottom: 0;
}

/* line 94, ../sass/screen.scss */
.description {
  font-style: italic;
}

/* line 98, ../sass/screen.scss */
.product button {
  float: right;
  margin-top: 6px;
}

/* line 102, ../sass/screen.scss */
.new-product-btn {
  border: 1px solid #77bd57;
  border-left: 1px solid #89c66d;
  border-top: 1px solid #89c66d;
  background-color: #8cc771;
  color: #f1ecec;
}
/* line 27, ../sass/screen.scss */
.new-product-btn:hover {
  background-color: #7abe5b;
  cursor: pointer;
}
/* line 32, ../sass/screen.scss */
.new-product-btn:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #2d4d1f, inset 0 0.063em #58973b, inset 0 -0.188em #58973b;
}

/* line 105, ../sass/screen.scss */
.edit {
  border: 1px solid #65aed7;
  border-left: 1px solid #7dbbdd;
  border-top: 1px solid #7dbbdd;
  background-color: #81bdde;
  color: #f1ecec;
}
/* line 27, ../sass/screen.scss */
.edit:hover {
  background-color: #69b0d8;
  cursor: pointer;
}
/* line 32, ../sass/screen.scss */
.edit:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #1f5674, inset 0 0.063em #3492c5, inset 0 -0.188em #3492c5;
}

/* line 108, ../sass/screen.scss */
.delete {
  border: 1px solid #e75545;
  border-left: 1px solid #ea6e60;
  border-top: 1px solid #ea6e60;
  background-color: #eb7265;
  color: #f1ecec;
}
/* line 27, ../sass/screen.scss */
.delete:hover {
  background-color: #e7594a;
  cursor: pointer;
}
/* line 32, ../sass/screen.scss */
.delete:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #75190f, inset 0 0.063em #cf2c1b, inset 0 -0.188em #cf2c1b;
}

/* line 111, ../sass/screen.scss */
.save {
  border: 1px solid #77bd57;
  border-left: 1px solid #89c66d;
  border-top: 1px solid #89c66d;
  background-color: #8cc771;
  color: #f1ecec;
  display: none;
}
/* line 27, ../sass/screen.scss */
.save:hover {
  background-color: #7abe5b;
  cursor: pointer;
}
/* line 32, ../sass/screen.scss */
.save:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #2d4d1f, inset 0 0.063em #58973b, inset 0 -0.188em #58973b;
}

/* line 115, ../sass/screen.scss */
.cancel {
  border: 1px solid #ea6a5c;
  border-left: 1px solid #ed8377;
  border-top: 1px solid #ed8377;
  background-color: #ee877c;
  color: #f1ecec;
  display: none;
}
/* line 27, ../sass/screen.scss */
.cancel:hover {
  background-color: #ea6e60;
  cursor: pointer;
}
/* line 32, ../sass/screen.scss */
.cancel:active {
  box-shadow: 0 0.063em rgba(255, 255, 255, 0.4), inset 0 0 1.094em #8b1e12, inset 0 0.063em #e23421, inset 0 -0.188em #e23421;
}
